/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext);*/
/*@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);*/
/*@import url(https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext);*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=latin,latin-ext);

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  color: #333;
  text-shadow: rgba(0, 0, 0, 0.1) 1pt 1pt 2pt;
}

a {
  color: #fa4;
}
a:visited {
  color: #e6e;
}
a:hover {
  color: #6d6;
}
a:focus {
  outline: none;
  color: #6e6;
}

code, kbd, pre {
  font-family: 'Inconsolata', monospace;
  font-size: 12pt;
  text-shadow: none;
}

kbd {
  color: #fff;
  background-color: #444;
  border-radius: 4px;
  padding: 2px 4px 2px 4px;
}

pre {
  color: #fff;
  background-color: #444;
  border-radius: 4px;
  padding: 4px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', sans-serif;
}
