/*@import url(http://fonts.googleapis.com/css?family=Droid+Sans);*/
/*@import url(https://fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext);*/
/*@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext);*/
/*@import url(https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin,latin-ext);*/
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=latin,latin-ext);

body {
  font-family: "Open Sans", sans-serif;
  font-size: 11pt;
  color: #303030;
  text-shadow: rgba(0, 0, 0, 0.1) 1pt 1pt 2pt;
}
a {
  color: #ffa040;
}
a:visited {
  color: #e060e0;
}
a:hover {
  color: #60d060;
}
a:focus {
  outline: none;
  color: #60e060;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif;
}
